<h2>Catálago de productos</h2>
<hr>

<ngb-carousel interval="2000">
    <ng-template ngbSlide *ngFor="let prod of products.data; let i=index">
        <div class="picsum-img-wrapper">
            <img [src]="'http://picsum.photos/id/'+i+'/1500/200'">
        </div>
        <div class="carousel-caption">
            <h3> {{ prod.name }} </h3>
            <p> {{ prod.description }} </p>
            <h5> {{ prod.price | currency }} </h5>
            <a class="btn btn-outline-light" 
            [routerLink]="['products', prod._id]" >Ver</a>
        </div>
    </ng-template>
</ngb-carousel>
<br>
<div class="container">
    <form #frmProduct="ngForm" 
        [formGroup]="formProduct"
        (ngSubmit)="guardarProducto(frmProduct.value)">
        <div class="form-group">
            <label for="name">
                Nombre
            </label>
            <input type="text" #name class="form-control"
                formControlName="name"
            >
            <div *ngIf="formProduct.controls['name'].invalid
                        && (formProduct.controls['name'].dirty 
                        || formProduct.controls['name'].touched)"
                        class="alert alert-danger">
                <div *ngIf="formProduct.controls['name'].errors.required">
                    El nombre es requerido
                </div>
                <div *ngIf="formProduct.controls['name'].errors.minlength">
                    El nombre debe ser de 4 o más caracteres
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">
                Descripción
            </label>
            <input type="text" #description class="form-control"
            formControlName="description">
            <div *ngIf="formProduct.controls['description'].invalid
                        && (formProduct.controls['description'].dirty 
                        || formProduct.controls['description'].touched)"
                        class="alert alert-danger">
                <div *ngIf="formProduct.controls['description'].errors.required">
                    El nombre es requerido
                </div>
                <div *ngIf="formProduct.controls['description'].errors.minlength">
                    El nombre debe ser de 4 o más caracteres
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="image">
                Imagen
            </label>
            <input type="text" #image class="form-control"
            formControlName="image">
            <div *ngIf="formProduct.controls['image'].invalid
                        && (formProduct.controls['image'].dirty 
                        || formProduct.controls['image'].touched)"
                        class="alert alert-danger">
                <div *ngIf="formProduct.controls['image'].errors.required">
                    El nombre es requerido
                </div>
                <div *ngIf="formProduct.controls['image'].errors.minlength">
                    El nombre debe ser de 4 o más caracteres
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="price">
                Price
            </label>
            <input type="number" #price class="form-control"
            formControlName="price"
            >
            <div *ngIf="formProduct.controls['price'].invalid
                        && (formProduct.controls['price'].dirty 
                        || formProduct.controls['price'].touched)"
                        class="alert alert-danger">
                <div *ngIf="formProduct.controls['price'].errors.required">
                    El nombre es requerido
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">
            Guardar
        </button>
    </form>
</div>